body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    text-align: center;
}


.intro {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro .app-icon {
    width: 150px;
    margin: 20px 0;
}

.intro p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background-color: #f09a36;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
}

.download-button:hover {
    background-color: #f0b050;
}

.download-button:active {
    background-color: #d89000;
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(240, 165, 0, 0.6);
}
